body {
    background-color: #111111;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overscroll-behavior: none;
}

body {
    -webkit-user-select: none;
    user-select: none;
}